@import "tailwindcss";
@tailwind utilities;

body{
  background-color: white;
  font-family: "DM Sansss",sans-serif;
}
.navbar{
  padding: 25px 20px;
}
.navbar li a{
  padding: 25px;
  font-weight: 400;
}
.nav-item a.active{
  background-color: royalblue !important;
}
section{
  padding: 20px;
}
.card {
  border-radius: 15px;
  color: #444444;
  background:#E4EAFF ;
}
.comments{
  padding: 2rem;
}

.card-body{
  padding: 20px 25px;
}
.read-the-docs {
  color: #888;
}
/* input{
  outline: none;
} */
.forget-password{
  text-decoration: underline;
  color: #444444;

}
.hide{
  position: absolute;
  right: 10px;
  top: 20px;
}
.profile-img img{
  width: 50px;
  height: 50px;
  background: #3663C5;
  border-radius: 50%;
}
.navbar a.active{
  background-color: royalblue;
  color:white;
  border-radius:25px;
  padding: 15px 25px;
}

.sidebar li img{
  width: 24px;
  height: 24px;
}
.sidebar ul li a{
  padding: 15px;
 
}
.sidebar ul li a.active{
  color: white;
   background: #3663C5;
}
.research-form{
  padding: 2rem;
}
.find-btn{
  padding: 15px 55px;
}
.submit-form button{
  padding: 15px 60px;
}
/* form label{
  display: block;
  padding-bottom: 0.6rem;
} */
.post-header img, .comment-header img{
  border-radius: 50%;
}
.post-image img{
  height: 300px;
}
.post-reactions img{
  width: 24px;
  height: 24px;
}
.comment-reactions img{
  width: 24px;
  height: 24px;
}
.topic-item{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9E9E9;
  border-radius: 10px;
  border: 1px solid #E9E9E9;
  width: 100px;
  padding: 20px 25px;
  cursor: pointer;
}
.filter-items span{
  padding: 10px 35px;
  background: #E9E9E9;
}
.filter-items span.active{
  background: royalblue;
  color: white;
}
.add-article button{
  padding: 15px 55px;
  border-radius: 50px;
}

.article-item{
  background-image: url("../public/article.jpg");
  background-position: center;
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
}
.article-author img{
  width: 50px;
  border-radius: 50%;
  background-color: #E4EAFF;
  height: 50px;

}
.course-item{
  padding:15px 25px;
}
.mentor-item, .library-item{
padding: 15px 25px;
color: #828282;
background: #F6F6F6;
}
.library-item{
  padding: 20px 25px;
background: white;
border: 1px solid #ccc;
}
.library-item .stats img{
  width: 24px;
  height: 24px;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #888;
}
.course-item article img{
  height: 300px;
  width: 100%;
  border-radius: 8px;
}
.course-item .stats img{
  width: 24px;
  height: 24px;
}
.skills{
  color:#444444;
  font-weight: bold;
}
.discussion{
  padding:2rem;
}
.discussion-item, .comment-item{
    padding: 2em;
  border-radius: 15px;
  border:1px solid #E9E9E9;
  color: #444444;
  box-shadow: 8px 10px 10px 8px rgba(0, 0, 0,0.1);
  border-radius: 15px;
}
.sidebar-content{
  border-right: 1px solid #ccc;
}
.badge{
  bottom: -25px;
}